/*==============================
            VARIABLES
==============================*/
/* PRIMARY */
$primary-color-one: hsl(233, 26%, 24%); /* Dark Blue */
$primary-color-two: hsl(136, 65%, 51%); /* Lime Green */
$primary-color-three: hsl(192, 70%, 51%); /* Bright Cyan */

/* NEUTRAL */
$Neutral-color-one: hsl(233, 8%, 62%); /* Grayish Blue */
$Neutral-color-two: hsl(220, 16%, 96%); /* Light Grayish Blue */
$Neutral-color-three: hsl(0, 0%, 98%); /* Very Light Gray */
$Neutral-color-four: hsl(0, 0%, 100%); /* White */
