.header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.logo{
  background: url("/src/assets/images/logo.svg") center no-repeat;
  background-size: 100%;
  height: 100px;
  width: 150px;
}
.nav{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: .5rem;
  background-color: transparent;
  &-link{
    text-decoration: none;
    color: $Neutral-color-one;
    font-weight: 300;
    &:hover{
      color: black;
    }
  }
  &__container-menu{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__menu-on{
    background: url("/src/assets/images/icon-hamburger.svg") center no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
  }
  &__menu-off{
    background: url("/src/assets/images/icon-close.svg") center no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
  }
}
.request-invite{
  text-decoration: none;
  color: white;
  background: linear-gradient(90deg, $primary-color-two, $primary-color-three);
  padding: .8rem 2rem;
  border-radius: 5rem;
  font-weight: 400;
}
.nav__menu-on{
  
}

@media screen and (max-width: 768px) {
  nav{
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-self: center;
    align-items: center;
  }
}