.request-invite{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background: linear-gradient(90deg, $primary-color-two, $primary-color-three);
  padding: .8rem 2rem;
  border-radius: 5rem;
  font-weight: 400;
  max-width: 300px;
  min-width: 225px;
  transition: all .25s;
  &:hover{
    -webkit-filter: saturate(0.5) brightness(1.3);
            filter: saturate(0.5) brightness(1.3);
  }
}
.not-show{
  display: none;
}
.show{
  display: block;
}

@media screen and(max-width: 768px) {
  .request-invite{
    max-width: 200px;
    min-width: 150px;
    font-size: .7rem;
  }
}